.top{
  background-color: #211e1f;
}
#card{
  background-color:#211e1f;
  color:white;
  margin-bottom: 10px; 
}
.navbar .container ul li{
    list-style:none;
    display: inline-flex;
    margin-left:  20px;
    margin-right:  20px;
    margin-top: 5px;
}
.navbar .container ul li span{
  margin-left: 35px;
}
.navbar .container ul li button{
  color: white;
  font-size: 16px;
  font-weight:500;
  text-decoration: none; 
  background-color: #212529;
  border: none;     
}
.navbar .container ul li .searchBtn{
   margin-left: 150px;
}
.card {
  overflow: hidden;
  border: none;
}

.card img {
  width: 100%;
  transition: 0.5s all ease-in-out;
}
button{
  border: none;
  margin: 0;
  padding: 0;
}

button:hover img {
  transform: scale(1.05);
}